.profile {
    max-width: 882px;
    min-height: 120px;
    margin: 0 auto;
    padding: 40px 5px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    
}

@media (max-width: 768px) {
    .profile {
        padding: 40px 15px 0; 
    }
}

@media (max-width: 670px) {
    .profile {
        padding: 42px 5px 0;
        flex-direction: column;     
    }
}