.profile__info-edit-button {
    align-self: center;    
    width: 24px;
    height: 24px; 
    background: url(../../../images/edit_button.svg) no-repeat center;
    outline: none;
    border: 0;
    cursor: pointer;
}

.profile__info-edit-button:hover {     
    background: url(../../../images/edit_button_hov.svg) no-repeat center;
    transition: background 0.2s linear;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (max-width: 670px) {
    .profile__info-edit-button {
        width: 19px;
        height: 19px;
        background-size: cover;
        box-sizing: border-box;
    }
}