@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/inter.css);
@import url(../src/blocks/root/root.css);
@import url(../src/blocks/preloader/preloader.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/logo/logo.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__container/_dark_theme/popup__container_dark_theme.css);
@import url(../src/blocks/popup/__image-container/popup__image-container.css);
@import url(../src/blocks/popup/__content/popup__content.css);
@import url(../src/blocks/popup/__close/popup__close.css);
@import url(../src/blocks/popup/__close/_image/popup__close_image.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__title/_dark_theme/popup__title_dark_theme.css);
@import url(../src/blocks/popup/__form/popup__form.css);
@import url(../src/blocks/popup/__icon/popup__icon.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__input/_dark_theme/popup__input_dark_theme.css);
@import url(../src/blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../src/blocks/popup/__link/popup__link.css);
@import url(../src/blocks/popup/__submit/popup__submit.css);
@import url(../src/blocks/popup/__submit/_dark_theme/popup__submit_dark_theme.css);
@import url(../src/blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(../src/blocks/popup/__form-error/popup__form-error.css);
@import url(../src/blocks/popup/__form-error/_visible/popup__form-error_visible.css);
@import url(../src/blocks/popup/__image/popup__image.css);
@import url(../src/blocks/popup/__place-name/popup__place-name.css);
@import url(../src/blocks/popup/__confirm-request/popup__confirm-request.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__data/profile__data.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__info/profile__info.css);
@import url(../src/blocks/profile/__info-title/profile__info-title.css);
@import url(../src/blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(../src/blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(../src/blocks/profile/__add-button/profile__add-button.css);
@import url(../src/blocks/gallery/gallery.css);
@import url(../src/blocks/gallery/__items/gallery__items.css);
@import url(../src/blocks/item/item.css);
@import url(../src/blocks/item/__delete/item__delete.css);
@import url(../src/blocks/item/__delete/__delete_none/item__delete_none.css);
@import url(../src/blocks/item/__image/item__image.css);
@import url(../src/blocks/item/__wrapper/item__wrapper.css);
@import url(../src/blocks/item/__text/item__text.css);
@import url(../src/blocks/item/__likes/item__likes.css);
@import url(../src/blocks/item/__like-counter/item__like-counter.css);
@import url(../src/blocks/item/__like-icon/item__like-icon.css);
@import url(../src/blocks/item/__like-icon/_active/item__like-icon_active.css);
@import url(../src/blocks/menu/menu.css);
@import url(../src/blocks/menu/__item/menu__item.css);
@import url(../src/blocks/menu/__item_btn/menu__item_btn.css);
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);